<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user, size: 45 %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="row">
    <div></div>
    <aside class="span8">
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
  </div>

  <div class="span8">
    <h3>Micropost Feed (<%= @user.microposts.count %>)</h3>
    <%= render 'shared/feed' %>
  </div>

</div>